{% extends "basetemplate.html" %}
{% block content %}

        <div class="row">
            <form class="col s12" action="/contactus" method="post">
                <div class="row">
                    <h5 class="">Please use this form to enter your message</h5>

                    <div class="input-field col s6 z-depth-1">
                        <input id="name" type="text" class="validate" name="name">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 z-depth-1">
                        <input id="email" type="email" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 z-depth-1">
                        <textarea id="message" class="materialize-textarea" name="message"></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light light-blue darken-2" type="submit" name="action" value="Send">Submit
                    <i class="mdi-content-send right"></i>
                </button>
            </form>
        </div>
{% endblock %}
